.header {
    background-color: #1b1b1b;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.navBar__title {
    color: white;
    text-decoration: none;
}

.user-contenair {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-contenair__login {
    color: #999999;
    text-decoration: none;
    font-size: 1.2em;
    transition: all 200ms ease-in-out;
}

.user-contenair__login:hover {
    color: white;
}

.user-contenair__picture {
    height: 30px;
    width: 30px;
}